<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ContactMapper">

	<insert id="contactInsert">
		insert into contact (
		name
		,email
		,phone
		,message
		) values (
		#{name}
		,#{email}
		,#{phone}
		,#{message}
		)
	</insert>
	
	<select id="contactSelect" resultType="contact">
		select *
		from contact
		order by seq desc
	</select>
	
	<delete id="contactDelete" parameterType="contact">
		delete from contact
		where seq = #{seq}
	</delete>

</mapper>